astroid==2.4.1
autopep8==1.5.2
backcall==0.1.0
click==7.1.2
decorator==4.4.2
ipython==7.14.0
ipython-genutils==0.2.0
isort==4.3.21
jedi==0.17.0
joblib==1.2.0
lazy-object-proxy==1.4.3
marisa-trie==0.7.5
mccabe==0.6.1
nltk==3.5
numpy==1.18.4
parso==0.7.0
pexpect==4.8.0
pickleshare==0.7.5
pkg-resources==0.0.0
prompt-toolkit==3.0.5
ptyprocess==0.6.0
pycodestyle==2.6.0
Pygments==2.6.1
pylint==2.5.2
regex==2020.5.14
scikit-learn==0.21.0
scipy==1.4.1
six==1.15.0
sklearn==0.0
spanish-sentiment-analysis==1.0.0
threadpoolctl==2.0.0
toml==0.10.1
tqdm==4.46.0
traitlets==4.3.3
typed-ast==1.4.1
wcwidth==0.1.9
wrapt==1.12.1